# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Python cache & virtualenvs
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt

# Databases
*.db
*.sqlite3

# Build outputs
dist/
tmp/
out/
build/

# Local env files
.env
.env.local
.env.*.local

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
